<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmyTemple</title>
    <!-- add icon link -->
    <link rel = "icon" href = 
    "https://1.bp.blogspot.com/-1D1eByMDGsU/YLcCe8qx96I/AAAAAAAAAPQ/oBtoPavVgsUoeKWtRchN9O0lZUJR2wf7wCLcBGAsYHQ/s2048/FT_logo-01-01.png" 
            type = "image/x-icon">
    <style>
        
.form-group{
    display: flex;
    flex-direction: column;
}

.form-group label{
     font-size: 20px;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-group input,.form-group select,.form-group textarea{
     padding: 10px;
     border-radius: 4px;
     border: 1px solid #333;
     outline: none;
     margin-top: 5px;
}
.form-group button{
    margin-top: 10px;
     padding: 10px;
     border-radius: 3px;
     border:none;
     font-size: 20px;
     background-color: rgb(81, 219, 243);
    cursor: pointer;
    color:cornsilk;
}
.flex{
  display:flex;
}
.block{
  display: flex;
  flex-direction: column;
  width: 100%;
}
    </style>
</head>
<body>
    
<div class="container">
            
    <form action="/upload" method="POST">
        <h2>Upload Movie</h2>
        <div class="form-group">
           <label>Movie Name</label>
           <input type="text" name="name" 
          class="form-control" placeholder="Movie Name" required />
        </div>


        <div class="form-group">
          <label>Movie url</label>
          <input type="text" name="url" 
         class="form-control" placeholder="Movie Name" required />
       </div>

        <div class="form-group">
            <label>Movie Image</label>
            <input type="text" name="image" 
             class="form-control" placeholder="Movie Image" required />
       </div>



       <div class="form-group">
            <label>Movie Duration</label>
            <input type="text" name="duration"
            class="form-control" placeholder="Movie Duration" required />
       </div>

      

       <div class="form-group">
           <label>Movie category</label>
           <select class="form-control" name="category" >
             <option value="">--Please choose an option--</option>
             <option value="Bollywood">Bollywood</option>
             <option value="Hollywood">Hollywood</option>
             <option value="South">South Indian</option>
             <option value="Dual Audio">Dual Audio</option>
             <option value="WEB">WEB series</option>
             <option value="Animation">Animation</option>
             <option value="Pakistani">Pakistani Movie</option>
             <option value="Punjabi">Punjabi Movie</option>
             <option value="TV show">TV show</option>
             <option value="Telugu" >Telugu</option>
          </select>
       </div>

        <div class="form-group">
             <label>Movie rating</label>
             <input type="text" name="rating"
            class="form-control" placeholder="Movie rating" required />
        </div>

    
        <div class="form-group">
             <label>Movie Genres</label>
               <input type="text" name="genres"
               class="form-control" placeholder="Movie Genres" required />
       </div>


       
       <div class="form-group">
           <label>Movie Director</label>
             <input type="text" name="director"
               class="form-control" placeholder="Movie director" required />
       </div>
        


       
       <div class="form-group">
           <label>Movie cast</label>
             <input type="text" name="cast"
               class="form-control" placeholder="Movie cast" required />
       </div>



       
       <div class="form-group">
           <label>Movie Language</label>
             <input type="text" name="language"
               class="form-control" placeholder="Movie language" required />
       </div>

       

       
       <div class="form-group">
           <label>Movie Quality</label>
             <input type="text" name="quality"
               class="form-control" placeholder="Movie quality" required />
       </div>

      

       <div class="form-group">
           <label>Movie Story</label>
             <textarea type="text" name="story" rows="4" cols="80"
               class="form-control" placeholder="Movie story" required></textarea>
       </div>

 

       <div class="form-group">
           <label>Movie Screenshot</label>
             <input type="text" name="screenshot" 
               class="form-control" placeholder="Movie screenshot" required />
       </div>
    
       <div class="form-group">
            <label>Watch Online</label>
            <input type="text" name="watchonline"
            class="form-control" 
            placeholder="Watch online"
            required />
       </div>

       


       <div class="form-group">
         <div class="flex">
         <div class="block">
          <label>link 480p</label>
          <input type="text" name="link4"
          class="form-control" placeholder="link 480p" required />
         </div>

         <div class="block">
          <label>movie Size</label>
          <input type="text" name="link4mb"
          class="form-control" placeholder="size" required />
         </div>
          
        </div>  
       </div>


       <div class="form-group">
        <div class="flex">
          <div class="block">
           <label>Link 720p</label>
             <input type="text" name="link7" 
               class="form-control" placeholder="Link 720p" required />
              </div>
               <div class="block">
                <label>movie Size</label>
                <input type="text" name="link7mb"
                class="form-control" placeholder="size" required />
               </div>

              </div>  
       </div>


        <div class="form-group">
          <button type="submit"
          class="btn btn-outline-primary">Submit</button>
        </div>
       
    </form>
    <form action="/logout" method="POST">
      <input type="hidden" value="admin" name="logout" />
      <button class="btn btn-outline-success" type="submit">logout</a>
    </form>
</div>
</body>
</html>