.side{
    position: relative;
    width: 100%;
     display: flex;
     flex-direction: column;
  
}

.side .search{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 8px;
    padding-bottom: 20px;
   
}
.side input[type="text"]{
    width: 200px;
    height: 34px;
    border:none;
    margin-right: 5px;
    border-radius: 3px;
    padding-left: 10px;
    border: 1px solid #333;
}
.side #myAnchor{
    height: 34px;
    padding-left:10px;
    padding-right:10px;
    text-decoration: none;
    background-color:  #333;
    color:  #f4f6f7;
    border:none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side .recent ul{
    text-decoration: none;
    list-style: none;
    margin-bottom: 20px;
    padding-left: 0px;
}
.side .recent ul li{
    padding: 5px 0;
}
.side .recent ul  li a{
    text-decoration: none;
    font-weight: 600;
    font-family: 'Alef';
    color: #000;
}
.side .recent .rec_text{
    color: #515a5a;
    font-size: 17px;
}
.recent_post li{
    display: flex;
}
.recent_post li a{
    font-size: 15px;
}
.recent_post li img{
width: 50px;
margin-right: 10px;
}
.hide{
    display:none;
}

@media only screen and (min-width:750px){
    .side{
        padding:0;
        width: 200px;
    }
  
}

@media only screen and (min-width:800px){
    .side{
        padding:0;
        width: 240px;
    }
  
}
@media only screen and (min-width:1000px){
    .side{
     width:280px;
    }
  
}